<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蒲公英的种子</title>
    <link rel="stylesheet" href="/static/css/cropper.min.css">
    {{/*<link rel="stylesheet" href="/static/css/ImgCropping.css">*/}}
{{template "public/css.html"}}

</head>
<body>
{{template "public/header.html" .}}
<div class="nbsp"></div>
<div class="container">
    <div  class="tailoring-container">
        <div class="tailoring-content">
            <div class="tailoring-content-two">
                <div class="tailoring-box-parcel">
                    <img id="tailoringImg">
                </div>
            </div>
            <button class="l-btn sureCut" id="sureCut">确定</button>
        </div>
    </div>
</div>

{{template "public/js.html"}}
<script src="/static/js/cropper.min.js"></script>
<script>
    var $_GET = (function(){
        var url = window.document.location.href.toString();
        var u = url.split("?");
        if(typeof(u[1]) == "string"){
            u = u[1].split("&");
            var get = {};
            for(var i in u){
                var j = u[i].split("=");
                get[j[0]] = j[1];
            }
            return get;
        } else {
            return {};
        }
    })();
    //图像上传

</script>
{{template "public/footer.html"}}