body{
    background-color: #fff;
}
.title{
    text-align: center;
    padding: 10px 3px;
}

.footer{
    margin-top: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ced2cf;
}

nav.navbox{
    box-shadow: 0px 2px 4px #ccc;
}

nav.navbox a{
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    color: #000;
}

nav.navbox a:hover, nav.navbox a.active {
    background: #eee;
}

.nbsp{
    height: 30px;
}
.right{
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}
.msg-comment {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
.comment-form{
    color: #60b8c7;
    font-size: 12px;
    size: 32px;
}
#to-comment{
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}
#comment-button{
    float: right;
}