<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蒲公英的种子-设置</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/cropper.min.css">
    <style>
        .cropper-container{
            z-index: 3;
            position: absolute;
            top: 30px;
        }
        .mybutton {
            z-index: 100;
            background: #8d98ec;
            float: right;
            margin: 3px 3px;
            padding: 2px 4px;
            color: wheat;
            border-radius: 6%;
        }
    </style>
</head>
<body>
{{template "public/header.html" .}}
<div class="container">
   <div class="col-md-3">
       <ul class="nav nav-pills nav-stacked">
           <li role="presentation" class="active">
               <a href="#userinfo" role="tab" data-toggle="tab">基本信息</a>
           </li>
           <li role="presentation" class="">
               <a href="#chpwd" role="tab" data-toggle="tab">修改密码</a>
           </li>
           <li role="presentation" class="">
               <a href="/web/logout">退出</a>
           </li>
       </ul>
   </div>
    <div class="col-md-7">
        <div class="tab-content">
            <div role="tapanel" class="tab-pane active" id="userinfo">
                <form action="/web/center" method="post">
                    <div class="form-group">
                        <label for="nick">头像</label>
                        <div style="float: right" id="head"><img src="{{.webUser.Headimg}}" style="width: 35px;border-radius:50%">&nbsp;&nbsp;&nbsp;></div>
                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" style="display: none" onchange="selectImg(this)">
                    </div>
                    <div class="form-group">
                        <label for="nick">昵称</label>
                        <input type="text" class="form-control" name="nick" id="nick" value="{{.webUser.Nick}}">
                    </div>
                    <div class="form-group">
                        <label for="phone">手机</label>
                        <input type="text" class="form-control" name="phone" id="phone" value="{{.webUser.Phone}}">
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="text" class="form-control" name="email" id="email" value="{{.webUser.Email}}">
                    </div>
                    <input type="hidden" name="type" value="info">
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
            <div role="tapanel" class="tab-pane" id="chpwd">
                <form action="/web/center" method="post">
                    <div class="form-group">
                        <label for="old">原密码</label>
                        <input type="password" class="form-control" name="old" id="old">
                    </div>
                    <div class="form-group">
                        <label for="new">新密码</label>
                        <input type="password" class="form-control" name="new" id="new">
                    </div>
                    <div class="form-group">
                        <label for="renew">重复新密码</label>
                        <input type="password" class="form-control" name="renew" id="renew">
                    </div>
                    <input type="hidden" name="type" value="pwd">
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>

    <div class="tailoring-content-two">
        <div class="tailoring-box-parcel">
            <img id="tailoringImg">
        </div>
    </div>

    <div class="shade-div">
        <span class="mybutton" id="sureCut">确定</span>
    </div>
</div>

<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/cropper.min.js"></script>
<script>
    $('form').on("submit",function(){
        var tmp = ajaxSubmit(this,function(){
            var data = tmp.responseJSON;
            if(data.success){
                alert("修改成功")
            }else{
                alert(data.content)
            }
        })
        return false
    })
    $('#head').on("click",function(){
        $("#chooseImg").click();
    })

    function selectImg(file) {
        if (!file.files || !file.files[0]){
            return;
        }
        var fileSize = file.files[0].size;
        if(fileSize > 500*1000){
            alert("头像太大了");
            return false;
        }
        var reader = new FileReader();

        reader.readAsDataURL(file.files[0])

        reader.onload = function () {
            $(".shade-div").show();
            $('#tailoringImg').cropper('replace', reader.result ,false);//默认false，适应高度，不失真
        }
    }

    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1/1,//默认比例
        //preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        movable: true,  //是否允许移动剪裁框
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: false,  //是否允许缩放图片大小
        mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        crop: function(e) {
            // 输出结果数据裁剪图像。
        }
    });

    //裁剪后的处理
    $("#sureCut").on("click",function () {
        if ($("#tailoringImg").attr("src") == null ){
            return false;
        }else{
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            // $("#finalImg").prop("src",base64url);//显示为图片的形式
            // console.log(base64url);
            $.post("/web/headimg",{head:base64url},function(){
                window.location.reload(true);
            })
        }
    });

</script>
{{template "public/footer.html"}}